<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FRC.NetworkTables" version="2016.0.0.148" targetFramework="net452" />
  <package id="FRC.WPILib" version="2016.0.0.259" targetFramework="net452" />
  <package id="FRC.WPILib.Extras" version="2016.0.0.259" targetFramework="net452" />
</packages>